@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin mobile-and-tablet {
  @media (max-width: 830px) {
    @content;
  }
}

@mixin tablet-in-portrait-mode {
  @media only screen and (min-device-width: 700px) and (max-device-width: 1500px) and (orientation: portrait) {
    @content;
  }
}

@mixin game-over-overlay {
  inset: 0;
  display: flex;
  color: white;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.75);

  h1 {
    margin-bottom: 24px;
  }

  .overlay-buttons {
    display: flex;
    gap: 16px;

    .button {
      border: none;
      color: black;
      font-size: 1rem;
      cursor: pointer;
      padding: 12px 24px;
      text-decoration: none;
      background-color: white;
    }
  }
}
