@import '../styles/mixins';
@import '../styles/variables';

.headerText {
    padding: 20px 10px;

    @include mobile {
        height: 10vh;
    }
}
.gameTiles {
    display: flex;
    justify-content: space-evenly;
    padding: 15px;

    @include mobile {
        height: 90vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .gameTile {
        width:25vw;
        height: 60vh;
        max-height: 35vw;
        position: relative;
        border-radius: 15px;
        border: solid 2px $darker-purple;

        @include mobile {
            width: 60vw;
            height: 25vh;
            max-height: unset;
        }

        .image {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 12px;
            transition: .5s ease;
        }

        .overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            overflow: hidden;
            width: 100%;
            height: 0;
            border-radius: 12px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            transition: .5s ease;
            background-color: $accent-orange;
            opacity: 0.9;

            color: $darkest-purple;
            font-size: 2em;
            font-weight: 900;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &:hover .image{
            opacity: 0.3;
        }
        &:hover .overlay {
            height: 30%;
        }
          
    }

}