.game-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 60px);

  .grid {
    gap: 14px;
    padding: 14px;
    display: grid;
    position: relative;
    border-radius: 14px;
    background: #bbada0;
    width: min(85vw, 480px);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .tile {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
    color: #3c3a32;
    font-weight: bold;
    border-radius: 14px;
    aspect-ratio: 1 / 1;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #cdc1b4;
    font-size: clamp(1.8rem, 6vmin, 3.2rem);
    box-shadow: inset 0 -4px rgba(0, 0, 0, 0.25), inset 0 4px #cdc1b4;
  }

  .tile-2 {
    background: #eee4da;
  }
  .tile-4 {
    background: #ede0c8;
  }
  .tile-8 {
    background: #f2b179;
    color: white;
  }
  .tile-16 {
    background: #f59563;
    color: white;
  }
  .tile-32 {
    background: #f67c5f;
    color: white;
  }
  .tile-64 {
    background: #f65e3b;
    color: white;
  }
  .tile-128 {
    background: #edcf72;
  }
  .tile-256 {
    background: #edcc61;
  }
  .tile-512 {
    background: #edc850;
  }
  .tile-1024 {
    background: #edc53f;
  }
  .tile-2048 {
    background: #edc22e;
  }

  .overlay {
    @include game-over-overlay;
  }
}
